 body {
    background-image: url("phonto.png");
    /*background-position: center;
    background-repeat: repeat;
    background-size: cover;*/
    width: 100%;
    height: 100%;
    /*background-attachment: fixed;*/
 }


