body {
    background-image: url("https://github.com/Simmi1317/nap-map-app/blob/gh-pages/Background(map).jpg?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
